.footer {
    width: 100%;
    background-color: var(--soft-white);
    color: var(--black);
    padding: .5rem 1rem;
    height: 60px;
    opacity: 60%;
    transition: .3s all ease-in-out;
}

.footer:hover{
    opacity: 80%;
}

.bar {
    display: flex;
    flex-direction: column;
    font-size:.8rem;
}
@media(min-width:450px){
    .bar{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
}

.navegator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-right:100px;
}
@media(min-width:500px){
    .navegator {
        display:flex;
        flex-direction: row;
        padding-right: 0;
    }
}

.navegator a {
    color: var(--light-gray);
    padding: .4rem;
    font-weight: 600;
    transition: .3s all ease-in-out
}

.navegator a:hover {
    color: var(--black)
}
